BOT_TOKEN=ТОКЕН_ОТ_BOTFATHER
SECRET_TOKEN=SabinaSecret2025

BASE_URL=https://sabina.coach
WEBAPP_URL=https://sabina.coach/hd

DIRECT_LINK=https://human-design.space?rave=7366406054640513&utm_source=telegram&utm_medium=bot&utm_campaign=sabina_hd_bot
REDIRECT_BASE_URL=https://human-design.space?rave=7366406054640513

VIDEO_URL=https://t.me/your_channel/123
